Django >= 2.2, < 2.3

psycopg2-binary
requests
python-memcached

djangorestframework >= 3.10, < 3.11
celery >= 4.3, < 4.4
django_celery_beat == 1.5.0
django-jsonfield == 1.3.1
djangorestframework-simplejwt==4.4.0
PyJWT==1.7.1
boto3
ip2geotools
python-decouple
django-jsoneditor